test/kisti0620finaldrug/dnegative_candidates_before_sampling.csv filter=lfs diff=lfs merge=lfs -text
PubChem_Agrochemical.csv filter=lfs diff=lfs merge=lfs -text
PubChem_Drugs.csv filter=lfs diff=lfs merge=lfs -text
